@font-face {
  font-family: 'signika-bold';
  src: url(./assets/fonts/Signika-Bold.ttf) format('woff');
}
@font-face {
  font-family: 'signika-light';
  src: url(./assets/fonts/Signika-Light.ttf) format('woff');
}

@font-face {
  font-family: 'signika-medium';
  src: url(./assets/fonts/Signika-Medium.ttf) format('woff');
}

@font-face {
  font-family: 'signika-regular';
  src: url(./assets/fonts/Signika-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'signika-semibold';
  src: url(./assets/fonts/Signika-SemiBold.ttf) format('woff');
}


